body {
    text-align: center;
    margin: 0;
    font-family: 'Tahoma', sans-serif;
    color: #2e2e2e;

    background: linear-gradient(270deg, rgb(255, 255, 255), rgb(194, 196, 194));
    background-size: 600% 600%;
    animation: bgAnimation 12s ease infinite;
}
.h{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


h1 {
    color: #2e7d32;
    margin-bottom: 30px;
}

.memorial-img {
    width: 100%;
    max-width: 350px;
    margin: 20px auto 0;
    display: block;
    border-radius: 12px;
    border: 3px solid #000;
}

.box {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.box h2, .box h3 {
    color: #1b5e20;
}
.box p{
    font-size: 19px;
}
.ayah {
    font-size: 19px;
    color: #555;
}


ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin: 8px 0;
    font-size: 20px;
}

.tasbeeh p {
    font-size: 49px;
    margin: 10px 0;
}

button {
    background: #2e7d32;
    color: white;
    border: none;
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
}

button:hover {
    background: #1b5e20;
}

footer {
    margin-top: 30px;
    font-size: 14px;
    color: #555;
}

.surahs h2 {
    margin-bottom: 20px;
    color: #1b5e20;
}

.surah {
    margin-bottom: 25px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    background: #fafafa;
}

.surah h3 {
    color: #2e7d32;
    margin-bottom: 10px;
}

.surah p {
    line-height: 2;
    font-size: 18px;
    margin-bottom: 10px;
}

.surah span {
    font-size: 14px;
    color: #555;
}
footer p{
    color: white;
    text-shadow: 2px 2px 5px black, 2px -2px 5px black, -2px 2px 5px black, -2px -2px 5px black;
}
@keyframes bgAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@media (max-width: 400px){


}